@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-card: #adadad;
  --clr-main: #3ca7ee;
  --clr-succeed: #2691d9;
  --clr-succeed-dark: #08609a;
  --clr-error: #e74c3c;
  --clr-sub: #9b408f;
  --ff-pop: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, var(--clr-main), var(--clr-sub));
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
