@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-card: #272d40;
  --clr-main: #4daf54;
  --ff-pop: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to right, var(--clr-main), #3d8880);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  background-color: var(--clr-card);
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.search-button {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  font-size: 45px;
  padding-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-input {
  height: 100%;
  width: minmax(0, calc(100% - 70px));
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 10px;
  font-size: 40px;
}

.show-box {
  width: 400px;
}
