@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ff-pop: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 100px auto;
  border-radius: 30px;
  padding: 20px 60px;
  /* background: #e9e1e1; */
  background: rgba(0, 255, 0, 0.15);
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 25px;
  margin: 10px 20px;
  background: white;
  border: 1px solid green;
  color: green;
  border-radius: 20px;
  min-width: 150px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
}

button.active {
  background: green;
  color: white;
}

.food {
  height: 200px;
  width: 23%;
  margin: 20px 5px;
  border-radius: 20px;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

img:hover {
  transition: all 0.5s;
  transform: scale(1.5) rotate(45deg);
}

.hide {
  display: none;
}
